body {
	margin: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	touch-action: manipulation;
	background: black;
}

canvas {
	position: absolute;
	z-index: 0;
}

button {
	position: absolute;
	background: none;
	border: none;
	z-index: 2;
	text-align: center;
}

.hidden {
	opacity: 0;
}
.shown {
	opacity: 0.3;
}

#left {
	top: 40%;
	height: 60%;

	left: 0%;
	width: 25%;
}

#right {
	top: 40%;
	height: 60%;

	left: 25%;
	width: 35%;
}

#up {
	top: 40%;
	height: 40%;

	left: 60%;
	width: 40%;
}

#interact {
	top: 80%;
	height: 20%;

	left: 60%;
	width: 40%;
}

#pause {
	top:0%;
	height: 20%;

	left: 0%;
	width: 20%;
}

#fullscreen {
	top: 0%;
	height: 20%;

	left: 80%;
	width: 20%;
}
